<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="icons/icon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="icons/icon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="icons/icon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="icons/icon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="icons/icon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="icons/icon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/icon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/icon-16.png">
		<link rel="apple-touch-icon" href="icons/icon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icons/icon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icons/icon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icons/icon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icons/icon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icons/icon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icons/icon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icons/icon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/icon-180.png">
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
		<script src="main.js" defer></script>
		<title>The Fine Print</title>
	</head>
	<body>
		<header>
			<h1>The Fine Print</h1>
			<h2>Easily write superscripts and subscripts</h2>
		</header>
		<main>
			<div id="step1" class="step">
				<span class="item">Step 1: What do you want to super/subscript?</span> <br>
				<input type="text" id="original" v-model:value="input">
			</div>
			<div id="step2" class="step">
				<span class="item">Step 2: Do you want a superscript or a subscript?</span>
				<br>
				<label>
					<input type="radio" name="choice" value="sub" v-model="type">
					<span class="mock-radio"></span>
					Subscript.
				</label>
				<br>
				<label>
					<input type="radio" name="choice" value="sup" v-model="type">
					<span class="mock-radio"></span>
					Superscript.
				</label>
			</div>
			<div id="step3" class="step">
				<span class="item">Step 3: Copy the text below!</span> <br>
				<div id="output">
					{{ converted }}
					<span id="copy-button">⤵️ Copy</span>
				</div>
				<!-- <input type="text" id="output" v-bind:value="converted" readonly> -->
			</div>
		</main>

		<footer>
			<span id="info-icon">&#9432</span>
			<span id="information">
				By: Tiago Macedo  &mdash;  To: Everyone with no time to mess with Unicode  &mdash;  Using: Vue.js
			</span>
		</footer>
	</body>
</html>
